.full-width {
  width: 100%;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.color-dominant {
  color: #bd0707;
}

.form-dominant {
  border: 2px solid #bd0707 !important;
  background: #e0c8c840 !important;
  border-radius: 5px;
}

.form-dominant:focus-visible {
  outline: none;
}

.button-dominant {
  background-color: #bd0707 !important;
  color: white;
  border-color: #bd0707 !important;
  border-radius: 5px;
  box-shadow: none;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-menu {
  margin-left: -6em !important;
  margin-top: 1em !important;
  border: none;
  filter: drop-shadow(0 0 6px grey);
}

.dropdown-menu::before {
  z-index: -1;
  content: url("./assets/Polygon.svg");
  position: absolute;
  top: -1em;
  left: 6.5em;
}

.dropdown-toggle::after {
  display: none;
}

.form-control:focus {
  box-shadow: none !important;
  color: #bd0707;
}

.cartCount {
  position: absolute;
  margin-left: 1.3em;
  margin-top: 1.2em;
  width: 15px;
  height: 15px;
  background: #f13f3f;
  border-radius: 50%;
}
.cartCount > p {
  color: white;
  font-size: 10px;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f13f3f;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bd0707;
}

.cardProduct:hover {
  transform: scale(1.02);
  transition: 0.1s;
}

/* DETAIL TRANSACTION MODAL */

.detail-modal-container {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  height: max-content;
}

.detail-modal-container > div {
  width: fit-content;
  /* background: #7a2828; */
  margin: 0 10px;
}

.detail-modal-container > div > h5 {
  color: #bd0707;
}

.attachment-detail {
  text-align: center;
  width: 14rem;
  height: 17rem;
  object-fit: cover;
}

.userOrder > p {
  margin-bottom: 0;
}

.userOrder {
  margin-bottom: 2em;
}

.productOrdered > h6 {
  /* background: #f13f3f; */
  margin-bottom: 0;
}

.shippingAddress > div > p {
  margin-bottom: 5px;
}
